body {
    background: #f5f7fa;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

.list {
    width: 100%;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
}

.list-items {
    padding: 10px 5px;
}

.list-items:hover {
    background-color: #dddddd;
}

.multipleSelection {
    width: 200px;
    background-color: rgba(189, 195, 199, 1.0);
    font-size: 16px;
    position: absolute;
    z-index: 1000;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkBoxes {
    display: none;
    border: 1px #8DF5E4 solid;
    height: auto;
    padding: 8px;
}

#checkBoxes label {
    display: block;
    padding: 5px;
}

#checkBoxes label:hover {
    background-color: #4F615E;
    color: white;
}